.env
__pycache__/
.DS_Store
venv
notes.txt

*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.egg
*.egg-info/
dist/
build/
*.coverage
.coverage.*
*.mo
*.pot
*.swp
*.swo
*.bak
*.tmp
*.orig
*.pid
*.seed
*.cache
*.py[cod]           